body{
  font-family: "Courier New", monospace;
  margin: 20px;
  background:#fefefe;
  color:#111;
}

button{
  padding:6px 10px;
  border:none;
  background:#b54bd3;
  color:#fff;
  border-radius:4px;
  cursor:pointer;
}
button:hover{
  background:#6d35a8;
}

p{
  background:#fff8e1;
  border:2px solid #f0c14b;
  padding:10px;
  margin:8px 0;
}
