body {
    font-family: Arial, sans-serif;
    padding: 16px; 
    background-color: #e5e7eb
}
button {
    padding: 8px 12px; 
    
}
p { 
    background: #f8fafc;
    padding: 6px; 
    border: 1px solid #e5e7eb; 
}

