body {
  font-family: Verdana, Geneva, sans-serif;
  background: #5e4967;
  color: #eee;
  margin: 0;
  padding: 20px;
}

button {
  padding: 10px 16px;
  border: none;
  background: #eee;
  color: #44304b;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover {
  background: #ccc;
}

p {
  background: transparent;
  border-bottom: 2px solid #eee;
  padding: 8px 0;
  margin: 12px 0;
}
